MenuGenerator/__pycache__
.vscode
adyacentes/__pycache__
CuadradoBidimensional/__pycache__
corto1/urlRepo.txt
descenso_gradiente/overflow.py
descenso_gradiente/test.py
descenso_gradiente/tets.py
regresion_lineal/.ipynb_checkpoints
regresion_lineal/venv
regresion_lineal/LaboratorioRegresionLinealRegularizada.pdf
regresion_lineal/regresion_lineal_regularizada.ipynb
regresion_lineal/Admission_Predict.csv
regresion_lineal/HojaDeTrabajo1.pdf
regresion_lineal_regularizado/
regresion_lineal_regularizada/.ipynb_checkpoints
regresion_logistica/venv
regresion_logistica/.ipynb_checkpoints
regresion_logistica/*.pdf
neural_networks/venv
dataset.json
